/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales restantes */
p {
    font-size: 125%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000c0;
    color: #ffffffd7;
    font-family: 'Times New Roman', Times, serif;
}

/* Estilos para el fondo animado */
#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Estilos para el contenido principal */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
}

.container {
    background-color: #0000004f;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 950px;
    margin: 60px auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    position: relative;
    width: 150px;
    height: 150px;
}

.image-ring {
    width: 130%;
    height: 130%;
    border: 4px solid #36c21a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: transform 0.2s;
}

.image-ring img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 50%;
}

.image-ring:hover {
    transform: scale(1.05);
}

.profile-description {
    margin-left: 60px;
}

/* Estilos para los botones de redes sociales */
.social-links {
    display: flex;
    overflow-y: hidden;
}

.social-link {
    font-size: 110%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    width: 180px;
    height: 45px;
    border-radius: 50px;
    color: #000;
    transition: background-color 0.4s, color 0.3s, transform 0.3s;
}

.social-link img {
    width: 20px;
    height: 20px;
    margin-bottom: none;
    margin-right: 5px;
}

.instagram {
    background-color: #e60073;
}

.facebook {
    background-color: #1877f2;
}

.whatsapp {
    background-color: #25d366;
}

.twitter {
    background-color: #1da1f2;
}

.social-link:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

/* Animación de brillo para la imagen de perfil */
@keyframes brillo {
    0% {
        border-color: #00ff0dc2;
    }
    50% {
        border-color: #2a5e2c;
    }
    100% {
        border-color: #00ff0da6;
    }
}

.image-ring {
    animation: brillo 2s linear infinite;
}

/* Animaciones de borde para cada red social con colores más oscuros */
@keyframes brillo-instagram {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: #9c004e;
    }
}

@keyframes brillo-facebook {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: #0e3d91;
    }
}

@keyframes brillo-whatsapp {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: #0c6a31;
    }
}

@keyframes brillo-twitter {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: #0b509b;
    }
}

/* Aplicar las animaciones de borde a los botones de redes sociales */
.instagram.social-link-border {
    animation: brillo-instagram 3s linear infinite;
}

.facebook.social-link-border {
    animation: brillo-facebook 3s linear infinite;
}

.whatsapp.social-link-border {
    animation: brillo-whatsapp 3s linear infinite;
}

.twitter.social-link-border {
    animation: brillo-twitter 3s linear infinite;
}

/* Estilos para el modal de imagen */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    margin: auto;
    margin-top: 3%;
    display: block;
    max-width: 85%;
    max-height: 85%;
    background-color: #fff;
    border-radius: 5px;
    overflow: auto;
    position: relative;
}

.close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {

    *{
        text-align: center;
    }

    p {
        font-size: 115%;
    }
    body {
        font-size: 16px;
        background-color: #1d1b1b; /* Fondo más oscuro */
        color: #ffffffd7;
        font-family: 'Times New Roman', Times, serif;
    }

    .container {
        background-color: #ffffff00;
        width: 90%;
        margin: 10px auto;
        padding: 10px;
        box-shadow: 0 0 60px rgba(255, 255, 255, 0.3);
        margin-bottom: 20px;
    }

    .profile {
        flex-direction: column;
        text-align: center;
        align-items: center;
        position: relative;
    }

    .profile-image {
        position: relative;
        right: 20px;
        margin-bottom: 30px;
        width: 130px; /* Ajusta el tamaño de la imagen */
        height: 130px; /* Ajusta el tamaño de la imagen */
    }

    .profile-description {
        text-align: justify; /* Alinea el texto justificado para mejorar la legibilidad */
        margin: 10px;
    }

    .social-links {
        flex-direction: column;
        align-items: center;
    }

    .social-link {
        width: 250px; /* Aumenta el ancho de los botones */
        height: 100px; /* Aumenta el alto de los botones */
        margin: 5px 0; /* Espacio vertical entre los botones */
        font-size: 125%; /* Aumenta el tamaño del texto de los botones */
    }

    .center {
        text-align: center; /* Centra todo el contenido */
    }
}

